
body {
    background-image: url("https://www.teahub.io/photos/full/100-1003570_beautiful-landscape-4k-wallpaper-purple-nature-landscape-hd.jpg");
    font-family: 'Aclonica';font-size: 22px;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    }
    
    main {
        text-align: center;
        align-items: center;
        border: 2px solid white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-width: 500px;
        margin: auto;
        padding: 10px;
      }
    
      section {
        margin-top: 50px;
        border: 2px solid #b3ccff;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

header {
  border: 2px solid #b3ccff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ol {
    color:black;
    border: 0,5px solid #b3ccff;
    text-align: center;
 
}

li {
    border: 1px solid #b3ccff;
    font-family: 'Aclonica';font-size: 22px;
}

h1 {
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

button {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #00ff2c, #00ffdb, #00ffff, #c6fcff, #ffffff);
    color: black;
}

#reset {
  background-image: linear-gradient(to bottom, #ff0000, #ff517f, #ff97d2, #f8d1fc, #ffffff);
  color: black;
}

#removeLast {
  background-image: linear-gradient(to bottom, #ffbc00, #ffb283, #ffc4d8, #ffe5ff, #ffffff);
  color: black;
}

h3 {
  text-decoration: underline;
  color: black;
}
